.JobCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--generic-border-radius);
  background-color: var(--color-white);
  width: 95%;
  max-width: var(--card-max-width);
  margin-bottom: var(--generic-margin);
  -webkit-box-shadow: var(--generic-shadow);
  -moz-box-shadow: var(--generic-shadow);
  box-shadow: var(--generic-shadow);
  padding: var(--generic-padding) var(--generic-padding-small) var(--generic-padding-small);
  border-left: 5px solid var(--color-primary);
  position: relative;

  &__logo {
    position: absolute;
    top: -1.7rem;
    left: 1rem;
    width: 50px;
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__company {
    color: var(--color-primary);
    font-weight: 700;
  }
}