.JobCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  width: 95%;
  max-width: var(--card-max-width);
  margin-bottom: var(--margin);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  padding: var(--padding) var(--padding-small) var(--padding-small);
  position: relative;

  @media screen and (min-width: 1440px) {
    padding-left: 9.5rem;
    padding-bottom: var(--padding);
  }

  &--featured {
    border-left: 5px solid var(--color-primary);
  }

  &__logo {
    position: absolute;
    top: -1.7rem;
    left: 1rem;
    width: 50px;

    @media screen and (min-width: 1440px) {
      top: 20%;
      left: 2.5rem;
      width: 88px;
    }
  }

  &__heading {
    display: flex;
    margin-bottom: 10px;

    & > * {
      margin-right: 10px;

      @media screen and (max-width: 350px) {
        margin-bottom: 5px;
      }
    }

    @media screen and (max-width: 350px) {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
  }

  &__company {
    color: var(--color-primary);
    font-weight: 700;
    margin-right: 20px;
  }

  &__position {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    
    &:hover {
      cursor: pointer;
      color: var(--color-secondary-dark)
    }
  }

  &__info {
    color: var(--color-secondary-dark);
  }

  &__info-item {
    font-weight: 500;

    &:not(:last-child)::after {
      content: "\00b7";
      font-weight: 700;
      margin: 0 9px;
    }
  }

  &__separator {
    width: 100%;
    margin: 12px 0;
    border: none;
    border-top: 1px solid #cdcdcd;

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  &__tags {
    @media screen and (min-width: 1440px) {
      position: absolute;
      right: 50px;
    }
  }
}
