:root {
  // Colors
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-primary: hsl(180, 29%, 50%);
  --color-secondary-background: hsl(180, 52%, 96%);
  --color-secondary-tablets: hsl(180, 52%, 96%);
  --color-secondary-dark: hsl(180, 8%, 52%);
  --color-secondary-darker: hsl(180, 14%, 20%);

  // Typography
  --font-family: 'Spartan', sans-serif;

  // Margins
  --margin-extra-small: 1.5rem;
  --margin-small: 2rem;
  --margin: 3rem;
  --margin-big: 4.5rem;
  --margin-extra-big: 6rem;

  // Paddings
  --padding: 35px;
  --padding-small: 15px;

  // Shadows
  --shadow: 2px 5px 20px 0px rgba(0,0,0,0.1);

  // Cards
  --card-max-width: 1024px;

  // Borders
  --border-radius: 7px;
  --border-radius-big: 15px;
}